@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
 
body{
  font-family: 'Open Sans', sans-serif;
 
  opacity: 0.1;
  background-color: #f4f4f4;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #ffffff, #ffffff 2px, #f4f4f4 2px, #f4f4f4 10px );
}

table{
  display: flex;
  flex-direction: column;
  
  width: 90%;
 
 
}
td{

  width: 100%;
}


.alergenos-icon{
 width: 5%;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  color: brown;

}

.price{
  font-style: italic;
  font-weight: bolder;
}

.logo{
  margin-top: 50%;
  position: fixed;
margin-left: 5%;
  width: 90%;
  opacity: 0.1;
}

span{
  font-style: italic;
  font-weight: bolder;
}