@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
 
body{
  font-family: 'Open Sans', sans-serif;
 
  opacity: 0.1;
  background-color: #f4f4f4;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #ffffff, #ffffff 2px, #f4f4f4 2px, #f4f4f4 10px );
}

table{
  display: flex;
  flex-direction: column;
  
  width: 90%;
 
 
}
td{

  width: 100%;
}


.alergenos-icon{
 width: 5%;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  color: brown;

}

.price{
  font-style: italic;
  font-weight: bolder;
}

.logo{
  margin-top: 50%;
  position: fixed;
margin-left: 5%;
  width: 90%;
  opacity: 0.1;
}

span{
  font-style: italic;
  font-weight: bolder;
}
.incremento{
  font-weight: bolder;
  font-style: italic;
}


.logo-home{
 
 
  width: 60%;
  margin-top: -10%;
  margin-bottom: -20%;
 
}

.myButton {
  margin: 2%;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.home-container{
  display: flex;
  flex-direction: column;
}

.title-restaurant{
  text-align: center;
 width: 80%;
 margin-left: 10%;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-size: 1rem;
  padding: -5%;
 
}

.title-home{
  text-align: center;
font-size: 2rem;
font-weight:1000
}

h6{
  margin-top: -8%;
}

.p-title{
  margin-bottom: -9%;
}
 
.slide-top{-webkit-animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}